#container {
    margin: auto;
    font-size: 110%;
}

table{
    border:2px solid black;
    border-collapse: collapse;
    margin: auto;
}

th,td {
    border:1px solid black;
    border-collapse: collapse;
    padding:4px;
}

td {
    text-align: left;
}