body {
    color: rgb(9, 104, 9);
}

h1 {
    text-align: center;
}

#container {
    margin: auto;
    max-width: 1000px;
}

#box {
    background-color: rgba(113, 224, 109, 0.6);
}

#form-box {
    margin: auto;
    padding: 20px 12px 10px 20px;
    width: 60%;
}

#form-box label {
    margin: 0 0 3px 0;
    padding: 0;
    display: block;
}

#form-box input[type=text] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid rgb(9, 104, 9);
	padding: 12px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
    width: 270px;
}

#form-box input[type=submit] {
    border-radius: 50px;
    background: forestgreen;
    color: white;
    display: flex;
    margin: auto;
    padding: 5px 19px;
    cursor: pointer;
    border: 0;
}

.name {
    display: flex;
    justify-content: space-between;
}

#form-box input[type=email] {
    outline: none;
    width: 250px;
    padding: 12px;
}
#form-box input[type=tel] {
    outline: none;
    width: 250px;
    padding: 12px;
}

#addressb {
    display: flex;
    flex-direction: column;
}

#addressb input[type=text]{
    margin-bottom: 2%;
    padding: 12px;
}

.addressb2 {
    display: flex;
    justify-content: space-between;
}
.addressb2 select {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid rgb(9, 104, 9);
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
    width: 270px;
    color: rgb(9, 104, 9);
}

div {
    margin-bottom: 2%;
}
